@mixin round-shape ($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
}

@mixin clamped-paragraph ($lines) {
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  line-clamp: $lines;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Breakpoints

@mixin responsive-phone {
  @media only screen and (max-width: 37.5em) {
    @content;
  }
}

@mixin responsive-tablet {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin responsive-big-desktop {
  @media only screen and (min-width: 112.5em) {
    @content;
  }
}