@use "../mixins";

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1 1 40%;
  min-width: 10rem;
  font-size: inherit;

  @include mixins.responsive-phone {
    gap: 1rem;
  }
}

.user-review {
  position: relative;
  overflow: hidden;

  &__text {
    position:relative;
    z-index: 1;
    margin-bottom: 2rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__photo {
    @include mixins.round-shape(4rem);
  }

  &__user-box {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__date {
    font-size: 1.05rem;
    color: var(--color-grey-dark-2);
  }

  &__rating {
    font-size: 2.2rem;
    color: var(--color-primary-dark);
  }

  &::before {
    content: "\201C"; // left quotation
    position: absolute;
    top: -2.6rem;
    left: -.8rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 0;
  }
}